@font-face { 
	font-family: "RobotoCondensed"; 
	src: url('../robotocondensed.woff') format('woff'),
		 url('../robotocondensed.ttf') format('truetype');
}

body {
	font-family: "RobotoCondensed";
}

div.header {
	background-color: #989898;
	width: 100%;
	height: 40px;
	margin: 0px;
}