@font-face { 
	font-family: "RobotoCondensed"; 
	src: url('../robotocondensed.woff') format('woff'),
		 url('../robotocondensed.ttf') format('truetype');
}

body {
	font-family: "RobotoCondensed";
}

quadHeader {
	background-color: rgb(150,150,150);
}