@font-face { 
	font-family: "RobotoCondensed"; 
	src: url('../robotocondensed.woff') format('woff'),
		 url('../robotocondensed.ttf') format('truetype');
}

body {
	font-family: "RobotoCondensed";
}

.header {
	background-color: #989898;
	width: 110%;
	height: 105px;
	margin: -8px;
}